<div class="about-us-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <img class="img-about-us" src="{{"images/Group-5862.png" | absURL }}" alt="">
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="block-info info-1">
                    <div class="title">
                        <h3>Lịch sử hình thành</h3>
                    </div>
                    <div class="description">
                        <p>Ấp ủ từ một ý tưởng về một dự án công nghệ năm 2016, qua gần 03 năm phát triển, xây dựng bởi đội ngũ sáng lập dày dặn kinh nghiệm đến từ nhiều tập đoàn công nghệ hàng đầu như Tima, VCCorp, Sapo,.. ; công ty cổ phần công nghệ Gobiz chính thức được thành lập vào năm 2018 với tham vọng thay đổi và số hoá phương thức quản lý và kinh doanh trong ngành thương mại điện tử xuyên biên giới tại Việt Nam.</p>
                    </div>
                </div>
                <div class="block-info">
                    <div class="title">
                        <h3>Tầm nhìn</h3>
                    </div>
                    <div class="description">
                        <p>Trở thành tập đoàn số 1 tại Việt Nam cung cấp giải pháp công nghệ cho lĩnh vực thương mại điện tử xuyên biên giới.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5 column-md-reverse">
            <div class="col-lg-6 col-xl-6">
                <div class="block-info">
                    <div class="title">
                        <h3>Sứ mệnh</h3>
                    </div>
                    <div class="description">
                        <p>Nâng tầm thương mại điện tử xuyên biên giới tại Việt Nam.</p>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 offset-xl-1 col-lg-5 col-xl-5">
                <img class="img-about-us" src="{{"images/Group-5863.png" | absURL }}" alt="">
            </div>
        </div>
        <div class="row mb-5">
            <div class="offset-lg-1 offset-xl-1 col-lg-5 col-xl-5">
                <img class="img-about-us" src="{{"images/Group-5696.png" | absURL }}" alt="">
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="block-info">
                    <div class="title">
                        <h3>Giá trị cốt lõi</h3>
                    </div>
                    <div class="description">
                        <p>
                            <ul>
                        <li>Tập trung vào khách hàng. Triết lý kinh doanh của Gobiz là khách hàng luôn là trung tâm của mọi hoạt động kinh doanh của doanh nghiệp.</li>
                        <li>Số hóa hệ thống quản lý. Cuộc cách mạng 4.0 nổ ra khiến cho mọi doanh nghiệp phải luôn phát triển nhanh nhất có thể & việc đó chỉ có thể diễn ra nếu toàn bộ dữ liệu kinh doanh được số hóa.</li>
                        <li>Không ngừng sáng tạo. Gobiz luôn nỗ lực không ngừng để cung cấp nhiều giá trị hơn cho khách hàng.</li>
                    </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>