   <section class="frequently-question-cost">
        <div class="bg-frenquently-question">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="frequently-question-top">
                        <div class="icon-question">
                            <img src="{{"images/Question.svg" | absURL }}" alt="">
                        </div>
                        <h3 class="title">Câu hỏi thường gặp</h3>
                        <p class="description">Bạn cần thêm thông tin, hãy click <a href="https://www.facebook.com/gobiz.vn"
                                class="g-text--blue g-text--medium">vào đây</a> để có thêm thông tin trợ giúp.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <article class="block-frequently-question">
                        <div class="icon">
                                <img src="{{"images/Question.svg" | absURL }}" alt="">
                        </div>
                        <div class="body">
                            <h3 class="title">Làm thể nào để đăng ký gói Professional?</h3>
                            <p class="description">Để đăng ký gói Professional bạn chỉ cần điền các thông tin vào form đăng ký.<br/>
                                Sau đó, bên bộ phận kinh doanh của Gobiz sẽ gọi điện liên hệ với bạn để xác nhận thông tin đăng ký và hướng dẫn thủ tục thanh toán.<br/>
                                Sau khi bạn đã thanh toán và gửi lại ảnh biên lai thanh toán cho Gobiz. Bộ phận CSKH sẽ thiết lập tài khoản của bạn trên hệ thống để bạn có thể sử dụng.</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <article class="block-frequently-question">
                        <div class="icon">
                                <img src="{{"images/Question.svg" | absURL }}" alt="">
                        </div>
                        <div class="body">
                            <h3 class="title">Làm thế nào để thanh toán và gia hạn thanh toán cho Gobiz?</h3>
                            <p class="description">Công ty Gobiz chấp nhận các hình thức thanh toán sau: nhân viên Gobiz thu phí tận nơi, chuyển khoản ngân hàng hoặc internet banking, thanh toán tiền mặt tại công ty Gobiz. Sau mỗi tháng, bộ phận CSKH sẽ gọi nhắc nhở bạn trước 5 ngày tính từ ngày bạn phải gia hạn. Bạn sẽ thanh toán tiền gia hạn theo các hình thức thanh toán mà công ty Gobiz chấp nhận.</p>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6 col-xl-6">
                        <article class="block-frequently-question">
                            <div class="icon">
                                    <img src="{{"images/Question.svg" | absURL }}" alt="">
                            </div>
                            <div class="body">
                                <h3 class="title">Làm thế nào để thanh toán khi số đơn sử dụng tăng trên 2000?</h3>
                                <p class="description">Khi số đơn hàng của bạn vượt trên 2000. Chi phí trên mỗi đơn hàng sẽ bị cộng thêm tùy vào quy mô đơn hàng của bạn.
                                    Số tiền cộng thêm khi số đơn sử dụng gia tăng sẽ được cộng dồn vào số tiền gia hạn phần mềm hàng tháng, và được thanh toán theo các hình thức mà công ty Gobiz
                                    chấp nhận.</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <article class="block-frequently-question">
                            <div class="icon">
                                    <img src="{{"images/Question.svg" | absURL }}" alt="">
                            </div>
                            <div class="body">
                                <h3 class="title">Làm thế nào để nâng cấp gói Professional từ gói Free?</h3>
                                <p class="description">Để nâng cấp lên gói Professional từ gói Free, bạn chỉ cần liên hệ với bộ phận CSKH của Gobiz để xác nhận thông tin nâng cấp và thực hiện quy trình thanh toán như việc đăng ký gói Professional.</p>
                            </div>
                        </article>
                    </div>
            </div>
        </div>
    </section>