<section class="gindex-yourhard software-yourhand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <h2 class="gindex-yourhard--title text-center">Ban đang gặp những vấn đề kinh doanh sau:</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                    <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Không theo dõi được đơn hàng</h3>
                            <p class="description_yourhard text-center">Thông tin đơn hàng bị phụ thuộc từ các đơn vị vận chuyển, kho,.. khiến cho bạn bị động trong kinh doanh nhập hàng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                    <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Thất thoát chi phí từ khâu vận hành</h3>
                            <p class="description_yourhard text-center">Chi phí bị thất thoát do quản lý cồng kềnh, không đo lường được hiệu suất của nhân sự.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Quản lý thủ công quá nhiều</h3>
                            <p class="description_yourhard text-center">Quản lỷ thủ công bằng sổ sách, excel khiến cho việc quản lý phức tạp, phân tích dữ liệu kinh doanh khó khăn.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Các phầm mềm hiện tại khó sử dụng</h3>
                            <p class="description_yourhard text-center">Các phần mềm hiện tại trên thị trường chưa đáp ứng được nhu cầu của đa số khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Chưa biết bắt đầu từ đâu</h3>
                            <p class="description_yourhard text-center">Kiến thức về kinh doanh nhập hàng rất rộng, việc tìm hiểu thông tin cho người mới bắt đầu vô cùng khó khăn.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Không có hệ thống vận hành chuyên nghiệp để phục vụ đơn hàng lớn</h3>
                            <p class="description_yourhard text-center">Hầu hết những người mới bắt đầu thường không có khả năng xây dựng một hệ thống vận hành chuyên nghiệp vì tốn kém chi phí.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Không tìm được công cụ hỗ trợ phù hợp</h3>
                            <p class="description_yourhard text-center">Các công cụ hỗ trợ nhập hàng xuyên biên giới tại Việt Nam hiện tại chưa có công cụ hỗ trợ tối ưu cho người mới bắt đầu.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="block-yourhard">
                            <div class="d-flex justify-content-center">
                                <div class="avatar_yourhard">
                                        <img src="{{"images/icon1.png" | absURL }}" alt="">
                                </div>
                            </div>
                            <h3 class="title_yourhard text-center">Lo ngại về chi phí phần mềm.</h3>
                            <p class="description_yourhard text-center">Chi phí tự xây dựng và vận hành một phần mềm riêng rất tốn kém, lên tới vài chục triệu mỗi tháng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>