<section class="gsoftware--slide-top" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="slide-top-image">
                    <img src="{{"images/Group5501.png" | absURL }}" alt="Slide 1">
                </div>
            </div>
            <div class="offset-lg-xl offset-lg-0 col-lg-6 col-xl-5">
                <ul class="slide-top-list">
                    <li>
                        <div class="icon-check-slidetop ">
                            <img src="{{"images/checkblue.svg" | absURL }}" alt="Slide 1">
                        </div>
                        <div class="list-info">
                            <h3 class="title">Kết nối nguồn hàng xuyên biên giới.</h3>
                            <span class="description">Kết nối không giới hạn với các sàn thương mại điện tử quốc tế như 1688, Taobao, Tmall,...</span>
                        </div>
                    </li>
                    <li >
                        <div class="icon-check-slidetop ">
                                <img src="{{"images/checkblue.svg" | absURL }}" alt="Slide 1">
                        </div>
                        <div class="list-info">
                            <h3 class="title">Tự động hóa các thao tác.</h3>
                            <span class="description">Tự động hóa các khâu mua hàng, thanh toán, cập nhật tình trạng vận chuyển, lấy mã vận đơn</span>
                        </div>
                    </li>
                    <li>
                        <div class="icon-check-slidetop ">
                                <img src="{{"images/checkblue.svg" | absURL }}" alt="Slide 1">
                        </div>
                        <div class="list-info">
                            <h3 class="title">Chi phí phần mềm tối ưu nhất trên thị trường</h3>
                            <span class="description">Chi phí sử dụng phần mềm siêu tiết kiệm, chỉ từ 1,700 VNĐ trên mỗi đơn hàng.</span>
                        </div>
                    </li>
                </ul>
                <div class="list-button">
                    <a target="_blank" href="https://forms.gle/2k2xHXwvJcEDBRfm8"><button class="g-btn g-btn--white">Đăng ký trải nghiệm</button></a>
                    <button class="g-btn g-btn--white ghost">Xem chi tiết tính năng</button>
                </div>
            </div>
        </div>
    </div>
</section>