<section class="gindex-help">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="gindex-help--top">
                    <div class="gindex-help--logo">
                        <img src="images/Group5299.png" alt="Gobiz">
                    </div>
                    <h2 class="gindex-help--title">Gobiz sẽ giúp bạn những gì?</h2>
                </div>
                <div class="gindex-help--group" style="background-image:url('images/bag2.png')">
                    <div class="gindex-help--block">
                        <h3 class="block-title"><span>----- </span>Doanh nghiệp nhập hàng truyền thống <span>----- </span></h3>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON8.png" alt="">
                                    </div>
                                    <h4 class="title-info">Theo dõi đơn hàng từ nhà cung cấp cho đến tận tay khách hàng.</h4>
                                    <p class="description-info">Hệ thống tracking từ phần mềm sẽ giúp bạn theo dõi hành trình đơn hàng từ khi nhập hàng cho đến khi chuyển tới tay khách hàng.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON9.png" alt="">
                                    </div>
                                    <h4 class="title-info">Quản lý chặt chẽ các chi phí vận hành</h4>
                                    <p class="description-info">Các giao dịch được kiểm soát chặt chẽ và cập nhật liên tục giúp bạn theo dõi các chi phí vận hành của mình.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON10.png" alt="">
                                    </div>
                                    <h4 class="title-info">Tự động hóa các thao tác</h4>
                                    <p class="description-info">Tự động hóa các khâu mua hàng, thanh toán, cập nhật tình trạng vận chuyển, tự động lấy mã vận đơn từ Taobao, Tmall, 1688.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON11.png" alt="">
                                    </div>
                                    <h4 class="title-info">Giao diện dễ sử dụng, chạy trên nhiều nền tảng.</h4>
                                    <p class="description-info">Giao diện Go Crossborder được thiết kế phù hợp với người dùng phổ thông, chạy được trên các nền tảng web, di động,...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gindex-help--block">
                        <h3 class="block-title"><span>-----</span> Đơn vị bắt đầu tham gia nhập hàng xuyên biên giới <span>----- </span></h3>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON8.png" alt="">
                                    </div>
                                    <h4 class="title-info">Tư vấn hỗ trợ setup hệ thống nhập hàng xuyên biên giới</h4>
                                    <p class="description-info">Công ty Gobiz đã và đang hợp tác với các chuyên gia đầu ngành để hỗ trợ bạn xây dựng hệ thống nhập hàng xuyên biên giới từ a->z</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON9.png" alt="">
                                    </div>
                                    <h4 class="title-info">Kết nối với hệ thống vận hành của các công ty vận hành logistics lớn.</h4>
                                    <p class="description-info">Go Crossborder được thiết kế để dễ dàng tích hợp với hệ thống của các đơn vị như Giaohangnhanh, Kiot Viet, Ongvangorder,...</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON10.png" alt="">
                                    </div>
                                    <h4 class="title-info">Công cụ hỗ trợ phù hợp với người mới bắt đầu</h4>
                                    <p class="description-info">Go Crossborder giúp các đơn vị nhỏ dễ dàng sử dụng theo từng quy mô tăng trưởng từ vài trăm đơn/tháng cho đến vài chục nghìn đơn/tháng</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="gindex-help--info">
                                    <div class="avatar-info">
                                        <img src="images/ICON11.png" alt="">
                                    </div>
                                    <h4 class="title-info">Chi phí phần mềm tối ưu nhất trên thị trường</h4>
                                    <p class="description-info">Chi phí sử dụng phần mềm siêu tiết kiệm, chỉ từ 1,700 VNĐ trên mỗi đơn hàng.</p>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 show-xs">
                                <a target="_blank" href="https://forms.gle/2k2xHXwvJcEDBRfm8"><button type="button" class="g-btn g-btn--experience">Trải nghiệm ngay</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>