<section class="gindex-yourhard">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <img class="gindex-yourhard--img-left" src="images/bgblockleft.png" alt="Bạn đang kinh doanh nhập hàng nhưng gặp khó khăn">
            </div>
            <div class="col-lg-6 col-xl-6">
                <h2 class="gindex-yourhard--title">Bạn đang kinh doanh nhập hàng <span
                        class="g-text--blue g-text--medium">nhưng</span></h2>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard" ß>
                                <img src="images/icon1.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Không theo dõi được đơn hàng</h3>
                            <p class="description_yourhard">Thông tin đơn hàng bị phụ thuộc từ các đơn vị vận chuyển, kho,... khiến cho bạn bị động trong kinh doanh nhập hàng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon2.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Thất thoát chi phí do vấn vận hành </h3>
                            <p class="description_yourhard">Chi phí bị thất thoát do quản lý cồng kềnh, không đo lường được hiệu suất của nhân sự.</p>
                        </div>
                    </div>
                    <div class="col-md-6  col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon3.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Các phần mềm hiện tại khó sử dụng </h3>
                            <p class="description_yourhard">Các phần mềm hiện tại trên thị trường chưa đáp ứng được nhu cầu của đa số khách hàng.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon4.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Quản lý thủ công quá nhiều </h3>
                            <p class="description_yourhard">Quản lỷ thủ công bằng sổ sách, excel khiến cho việc quản lý phức tạp, phân tích dữ liệu kinh doanh khó khăn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>