<section class="gindex-yourhard block2">
    <div class="container">
        <div class="row column-md-reverse">
            <div class="col-lg-6 col-xl-6">
                <h2 class="gindex-yourhard--title">Bạn muốn tham gia kinh doanh nhập hàng <span
                        class="g-text--blue g-text--medium">nhưng</span></h2>
                <div class="row">
                    <div class="col-md-6  col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard" ß>
                                <img src="images/icon4.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Chưa biết bắt đầu từ đâu.</h3>
                            <p class="description_yourhard">Kiến thức về kinh doanh nhập hàng rất rộng, việc tìm hiểu thông tin cho người mới bắt đầu vô cùng khó khăn.</p>
                        </div>
                    </div>
                    <div class="col-md-6  col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon5.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Không có hệ thống vận hành chuyên nghiệp để phục vụ đơn hàng lớn.</h3>
                            <p class="description_yourhard">Hầu hết những người mới bắt đầu thường không có khả năng xây dựng một hệ thống vận hành chuyên nghiệp vì tốn kém chi phí.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon4.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Không tìm được công cụ hỗ trợ phù hợp.</h3>
                            <p class="description_yourhard">Các công cụ hỗ trợ nhập hàng xuyên biên giới tại Việt Nam hiện tại chưa có công cụ hỗ trợ tối ưu cho người mới bắt đầu.</p>
                        </div>
                    </div>
                    <div class="col-md-6  col-lg-6 col-xl-6">
                        <div class="block-yourhard">
                            <div class="avatar_yourhard">
                                <img src="images/icon5.png" alt="Icon">
                            </div>
                            <h3 class="title_yourhard">Lo ngại về chi phí phần mềm.</h3>
                            <p class="description_yourhard">Chi phí tự xây dựng và vận hành một phần mềm riêng rất tốn kém, lên tới vài chục triệu mỗi tháng.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <img class="gindex-yourhard--img-right" src="images/bgblockright.png" alt="Khó khăn khi bạn muốn tham gia mảng nhập hàng">
            </div>
        </div>
    </div>
</section>