<section class="gindex-newspaper">
    <img class="bg-newspaper" src="{{"images/BG/bg@2x.png" | absURL }}" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="gindex-newspaper--top">
                    <h3 class="top-title">Mọi thứ đơn giản hơn với Gobiz</h3>
                    <div class="top-action">
                        <a target="_blank" href="https://forms.gle/2k2xHXwvJcEDBRfm8"><button type="button" class="g-btn g-btn--experience">Trải nghiệm ngay</button></a>
                    </div>
                </div>
                <div class="gindex-newspaper--infotop">
                    <div class="infotop-avatar">
                        <img src="{{"images/Fill425.png" | absURL }}" alt="">
                    </div>
                    <h2 class="infotop-title">Xem báo chí nói về Gobiz</h2>
                </div>
                <div class="gtabs-newspaper">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Tin tức</a>

                    </div>
                    <div class="tab-content " id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row post-index-news">
                                <div class="col-lg-12 col-xl-12">
                                    <article class="g-post">
                                        <a href="/post/chien-tranh-thuong-mai-my-trung-dang-de-doa-kinh-te-toan-cau-nhu-the-nao/">
                                            <img class="img-post" src="/img/photo1557989035133-1557989035352-crop-15579891060471669663730.jpg" alt="Chiến tranh thương mại Mỹ-Trung đang đe dọa kinh tế toàn cầu như thế nào?">
                                        </a>
                                        <div class="post-detail">
                                            <h3 class="title-post"><a href="/post/chien-tranh-thuong-mai-my-trung-dang-de-doa-kinh-te-toan-cau-nhu-the-nao/"> Chiến tranh thương mại Mỹ-Trung đang đe dọa kinh tế toàn cầu như thế nào?
                                                </a></h3>
                                            <p class="description-post">Cuộc chiến thương mại Mỹ-Trung có thể chấm dứt chuỗi thời gian tăng trưởng đã kéo dài 1 thập kỷ qua nếu xung đột vượt khỏi tầm kiểm soát...</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <article class="g-post">
                                        <a href="post/workshop-tang-truong-kinh-doanh-xuyen-bien-gioi/">
                                            <img class="img-post" src="/img/img_0889.jpg" alt="AWorkshop tăng trưởng kinh doanh xuyên biên giới">
                                        </a>
                                        <div class="post-detail">
                                            <h3 class="title-post"><a href="post/workshop-tang-truong-kinh-doanh-xuyen-bien-gioi/">Workshop tăng trưởng kinh doanh xuyên biên giới</a></h3>
                                            <p class="description-post">Thứ 7 ngày 11-05-2019 vừa qua, Gobiz đã tổ chức buổi Workshop "Giải pháp tăng trưởng kinh doanh nhập hàng Xuyên biên giới"</p>
                                        </div>
                                    </article>
                                </div>
                                <div class="col-lg-12 col-xl-12">
                                    <article class="g-post">
                                        <a href="post/den-luc-xuc-tien-thuong-mai-dien-tu-xuyen-bien-gioi/">
                                            <img class="img-post" src="/img/4510_log_5.jpg" alt="Đến lúc xúc tiến thương mại điện tử xuyên biên giới">
                                        </a>
                                        <div class="post-detail">
                                            <h3 class="title-post"><a href="post/den-luc-xuc-tien-thuong-mai-dien-tu-xuyen-bien-gioi/"> Đến lúc xúc tiến thương mại điện tử xuyên biên giới
                                            </a></h3>
                                            <p class="description-post">“Xu hướng toàn cầu hoá thông tin đang xoá mờ những giới hạn về không gian kinh doanh, không gian văn hóa. Thương mại điện tử xuyên biên giới... </p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>

                    </div>
                </div>
                <div class="view-more-post">
                    <button class="g-btn g-btn--viewmore-post">Xem thêm</button>
                </div>
            </div>

        </div>

    </div>
</section>