<section class="software-sys_order">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="sys_order_top">
                    <div class="sys_order_avatar">
                        <img src="{{"images/Group5299.png" | absURL }}" alt="Logo2">
                    </div>
                    <h2 class="title">Phần mềm quản lý nhập hàng xuyên biên giới Go Crossborder</h2>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 ">
                <ul class="sys_order_listslide">
                    <li class="active">
                        <div class="icon">
                            <img src="{{"images/Group4930.svg" | absURL }}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title">Hệ thống đặt hàng</h3>
                            <span>Đặt hàng chỉ với 1 click. Tìm kiếm, lên danh sách tự động từ 1688.</span>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="{{"images/Group4930.svg" | absURL }}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title">Hệ thống giao dịch nhà cung cấp</h3>
                            <span>Quản lý chính sách mua hàng, mã đơn hàng, mã vận đơn,...</span>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="{{"images/Group4930.svg" | absURL }}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title">Hệ thống quản lý khiếu nại</h3>
                            <span>Dễ dàng quản lý tiếp nhận và xử lý yêu cầu khiếu nại từ khách hàng</span>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="{{"images/Group4930.svg" | absURL }}" alt="">
                        </div>
                        <div class="info">
                            <h3 class="title">Hệ thống quản lý Logistics</h3>
                            <span>Quản lý kiện hàng theo mã vạch. Theo dõi tình trạng vận chuyển.</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-xl-6 offset-1">
                <img class="sys_order_imgslide" src="{{"images/Group5305.png" | absURL }}" alt="">
            </div>
        </div>
    </div>
</section>