<section class="software-experience">
    <div class="software-experience-bg-clip"></div>
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-12 col-xl-10 offset-xl-1 ">
                <div class="software-experience--detail" style="background-image:url('{{"images/Group301.png" | absURL }}')">
                    <h2 class="title">Hãy để Go Crossborder giúp bạn giải quyết những vấn đề đó ngay lập tức</h2>
                    <a target="_blank" href="https://forms.gle/2k2xHXwvJcEDBRfm8"><button class="g-btn g-btn--white">Đăng ký trải nghiệm</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
