<section class="table-cost">
        <div class="container">
            <div class="row column-md-reverse">
                <div class="offset-xl-1 col-lg-6 col-xl-5">
                    <div class="cost-free">
                        <div class="cost-free-top">
                            <div class="title">
                                <h3>Free</h3>
                                <span>Hỗ trợ 50 đơn / tháng</span>
                            </div>
                            <img class="img-title" src="{{"images/Group 5302.png" | absURL }}" alt="">
                        </div>
                        <div class="cost">
                            <p>Miễn phí trọn đời</p>
                        </div>
                        <div class="cost-detail">
                            <ul class="info-cost">
                                <li>
                                    <img src="{{"images/Group50010.svg" | absURL }}" alt="">
                                    <span>Đặt hàng chỉ với 1 click</span>
                                </li>
                                <li>
                                    <img src="{{"images/Group50010.svg" | absURL }}" alt="">
                                    <span>Tìm kiếm lên danh sách tự động từ 1688, Tmall, Taobao
                                    </span>
                                </li>
                                <li>
                                    <img src="{{"images/Group50010.svg" | absURL }}" alt="">
                                    <span>Quản lý giỏ hàng tiện lợi, tập trung báo cáo chi tiết</span>
                                </li>
                                <li>
                                    <img src="{{"images/Group50010.svg" | absURL }}" alt="">
                                    <span>Quản lý đơn hàng chi tiết với tính năng theo dõi đơn hàng
                                    </span>
                                </li>
                                <li>
                                    <img src="{{"images/Group50010.svg" | absURL }}" alt="">
                                    <span>Tính năng khiếu nại đơn hàng, dịch vụ hoặc sản phẩm không đảm bảo </span>
                                </li>
                            </ul>
                            <div class="cost-action">
                                <button class="g-btn g-btn--register-fromcost">Bắt đầu ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="cost-profestional">
                        <div class="cost-profestional-top">
                            <div class="title">
                                <h3>PROFESSIONAL</h3>
                                <span>Hỗ trợ 2000 đơn / tháng</span>
                            </div>
                            <img class="img-title"  src="{{"images/Group 5307.png" | absURL }}" alt="">
                        </div>
                        <div class="cost">
                            <p>3.000.000 VNĐ</p>
                        </div>
                        <div class="cost-detail">
                            <ul class="info-cost">
                                <li>
                                    <img src="{{"images/Group5007.svg" | absURL }}" alt="">
                                    <span>Đặt hàng chỉ với 1 click</span>
                                </li>
                                <li>
                                    <img src="{{"images/Group5007.svg" | absURL }}" alt="">
                                    <span>Tìm kiếm lên danh sách tự động từ 1688, Tmall, Taobao
                                    </span>
                                </li>
                                <li>
                                    <img src="{{"images/Group5007.svg" | absURL }}" alt="">
                                    <span>Quản lý giỏ hàng tiện lợi, tập trung báo cáo chi tiết</span>
                                </li>
                                <li>
                                    <img src="{{"images/Group5007.svg" | absURL }}" alt="">
                                    <span>Quản lý đơn hàng chi tiết với tính năng theo dõi đơn hàng
                                    </span>
                                </li>
                                <li>
                                    <img src="{{"images/Group5007.svg" | absURL }}" alt="">
                                    <span>Tính năng khiếu nại đơn hàng, dịch vụ hoặc sản phẩm không đảm bảo </span>
                                </li>
                            </ul>
                            <div class="cost-action">
                                <button class="g-btn g-btn--register-fromcost ghost">Bắt đầu ngay</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-lg-6 col-xl-5">
                    <div class="avatarfree ">
                        <img class="img-line" src="{{"images/Pathline.png" | absURL }}" alt="">
                        <img class="img-avatar" src="{{"images/Group4993.png" | absURL }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="table-cost-profestional">
                        <div class="logo-icon">
                            <img src="{{"images/icon1.png" | absURL }}" alt="">
                        </div>
                        <div class="list-cost">
                            <div class="list-cost-top">
                                <h3 class="title">Bảng giá tham khảo</h3>
                                <span class="description">Chỉ áp dụng cho gói Profestional</span>
                            </div>
                            <div class=" list-cost-detail">
                                <div class="list-cost-head">
                                    <div class="item">
                                        <p>Số lượng đơn</p>
                                    </div>
                                    <div class="item">
                                        <p>Đơn giá</p>
                                    </div>
                                </div>
                                <div class="list-cost-body">
                                    <div class="cost-row">
                                        <span>2001 - 7000</span>
                                        <span>1700đ / đơn</span>
                                    </div>
                                    <div class="cost-row">
                                        <span>7001 - 15000</span>
                                        <span>1500đ / đơn</span>
                                    </div>
                                    <div class="cost-row">
                                        <span>Trên 15000</span>
                                        <span>1300đ / đơn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>